@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

  /* Estilos para dispositivos medianos y grandes */
@media only screen and (min-width: 601px) {
	body {
		font-size: 16px;
	}

	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px;
		background-color: #333;
		color: #fff;
	}

	nav {
		display: block;
	}

	nav ul {
		display: flex;
		margin: 0;
		padding: 0;
	}

	nav li {
		margin-right: 20px;
	}

	nav li:last-child {
		margin-right: 0;
	}

	nav a {
		display: inline-block;
		padding: 10px;
		color: #fff;
		text-decoration: none;
	}

	main {
		max-width: 800px;
		margin: 0
	}	
}	